@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Outfit", serif;
}

body {
	background-color: #1a2a33;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 10%;
}

.menu-player {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: stretch;
	background-color: #1a2a33;
    width: 80%;
    justify-self: center;
}

.logo-boite1 {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    gap: 10px;
}

.pick-player-boite {
    background-color: #1F3641;
    box-shadow: 0px -8px 0px 0px #10212A inset;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
}

h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #A8BFC9;
    margin-bottom: 7%;
}

h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #A8BFC9;
    margin-top: 7%;
}

.btn-player-div {
    background-color: #1A2A33;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.o-btn, .x-btn {
    width: 50%;
}

.x-nonactive-btn, .o-nonactive-btn{
    background-color: #1A2A33;
    border: none;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    justify-content: center;
}

.o-active-btn, .x-active-btn {
    background-color: #A8BFC9;
    border: none;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    justify-content: center;
}

.o-nonactive-btn, .x-active-btn {
    display: none;
}

.game-mode-boite {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.game-cpu {
    background-color: #F2B137;
    box-shadow: 0px -8px 0px 0px rgba(204, 139, 19, 1) inset;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1A2A33;
}

a {
    color: #1A2A33;
    text-decoration: none;
}

.game-player {
    background-color: #31C3BD;
    box-shadow: 0px -8px 0px 0px rgba(17, 140, 135, 1) inset;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1A2A33;
}

.result-p {
	font-size: 14px;
	font-weight: 400;
	line-height: 17.64px;
	color: #1a2a33;
	letter-spacing: 0.875px;
}

.p-result {
	font-size: 20px;
	font-weight: 700;
	line-height: 25.2px;
	color: #1a2a33;
	letter-spacing: 1.25px;
}

.p-turn {
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	color: silver;
	letter-spacing: 0.88px;
}

.logo-boite {
	display: flex;
	align-items: center;
	gap: 8px;
}

.turn-player {
	background-color: #1f3641;
	display: flex;
	align-items: center;
	gap: 9px;
	box-shadow: 0px -4px 0px 0px #10212a inset;
	padding: 13px;
	border-radius: 5px;
}

.reload-btn {
	border: none;
	border-radius: 10px;
	box-shadow: 0px -4px 0px 0px #6b8997 inset;
	height: 100%;
	padding: 12px;
	background-color: #a8bfc9;
}

.case-div {
	display: grid;
	grid-template-columns: 25vw 25vw 25vw;
	grid-template-rows: 25vw 25vw 25vw;
	justify-content: center;
	gap: 31px;
	padding: 15px;
}

.case-game {
	border: none;
	border-radius: 10px;
	box-shadow: 0px -8px 0px 0px #10212a inset;
	width: 100%;
	height: 100%;
	background-color: #1f3641;
	padding: 30px 0px 30px 0px;
}

#btn-img {
	width: 40px;
}

.stat-div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	width: 100%;
	text-align: center;
	gap: 31px;
}

.stat-x {
	text-align: center;
	color: black;
	width: 100%;
	padding: 12px;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	color: #1a2a33;
	border-radius: 10px;
	background-color: #31c3bd;
}

.stat-tie {
	background-color: #a8bfc9;
	text-align: center;
	color: black;
	width: 100%;
	padding: 12px;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	color: #1a2a33;
	border-radius: 10px;
}

.stat-cpu {
	background-color: #f2b137;
	text-align: center;
	color: black;
	width: 100%;
	padding: 12px;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	color: #1a2a33;
	border-radius: 10px;
}

.o-winner-div {
	position: absolute;
	background-color: #1f3641;
	width: 100%;
	z-index: 2;
}

.o-winner-boite {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.x-winner-div {
	position: absolute;
	top: 35%;
	background-color: #1f3641;
	width: 100%;
	z-index: 2;
}

.x-winner-boite {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.tie-div {
	position: absolute;
	top: 35%;
	background-color: #1f3641;
	width: 100%;
	z-index: 2;
}

.tie-boite {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.restart-div {
	position: absolute;
	top: 35%;
	background-color: #1f3641;
	width: 100%;
	z-index: 2;
}

.restart-boite {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.p-winner-loser {
	color: #a8bfc9;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 7%;
}

.txt-div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.o-winner-h1 {
	color: #f2b137;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}

.x-winner-h1 {
	color: #31c3bd;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}

.restart-text,
.tie-text {
	color: #a8bfc9;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 5%;
	margin-bottom: 5%;
}

.btn-div {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 5%;
	margin-bottom: 10%;
}

.quit-btn,
.cancel-btn {
	padding: 15px 16px 17px 16px;
	background-color: #a8bfc9;
	box-shadow: 0px -4px 0px 0px #6b8997 inset;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	color: #1a2a33;
}

.next-btn,
.restart-btn {
	padding: 15px 16px 17px 16px;
	background-color: #f2b137;
	box-shadow: 0px -4px 0px 0px #cc8b13 inset;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	color: #1a2a33;
}

.game-boite, header {
    display: none;
}

@media screen and (min-width: 768px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	header {
		width: 50%;
		margin: 0;
	}

	.result-p {
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
	}

	.o-winner-h1 {
		font-size: 40px;
		font-weight: 700;
		line-height: 50px;
	}

	.x-winner-h1 {
		font-size: 40px;
		font-weight: 700;
		line-height: 50px;
	}

	.restart-text {
		margin-bottom: 5%;
		font-size: 40px;
		font-weight: 700;
		line-height: 50px;
		letter-spacing: 2.5px;
	}

	.case-div {
		gap: 20px;
		grid-template-columns: 15vw 15vw 15vw;
		grid-template-rows: 15vw 15vw 15vw;
	}

	.stat-div {
		gap: 20px;
	}
    
    .menu-player {
       width: 60%;
    }
}

@media screen and (min-width: 1440px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	header {
		width: 25%;
	}

	.case-div {
		gap: 25 px;
		grid-template-columns: 10vw 10vw 10vw;
		grid-template-rows: 10vw 10vw 10vw;
	}

    .menu-player {
        width: 45%;
     }
}
