@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1A2A33;
    font-family: "Outfit", serif;
}

main {
    width: 90%;
}

.logo-boite {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    gap: 10px;
}

.pick-player-boite {
    background-color: #1F3641;
    box-shadow: 0px -8px 0px 0px #10212A inset;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
}

h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #A8BFC9;
    margin-bottom: 7%;
}

h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #A8BFC9;
    margin-top: 7%;
}

.btn-player-div {
    background-color: #1A2A33;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.x-btn{
    background-color: #1A2A33;
    border: none;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
}

.o-btn {
    background-color: #A8BFC9;
    border: none;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
}

.game-mode-boite {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.game-cpu {
    background-color: #F2B137;
    box-shadow: 0px -8px 0px 0px rgba(204, 139, 19, 1) inset;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1A2A33;
}

a {
    color: #1A2A33;
    text-decoration: none;
}

.game-player {
    background-color: #31C3BD;
    box-shadow: 0px -8px 0px 0px rgba(17, 140, 135, 1) inset;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1A2A33;
}

@media screen and (min-width: 768px) {
    main {
        width: 50%;
    }
}

@media screen and (min-width: 1440px) {
    main {
        width: 30%;
    }
}